<section class="layout">
  <div class="card-movie">
    <div class="content-img">
      <img class="img" src="https://www.justwatch.com/images/poster/320463441/s718/slow-horses.jpg" alt="">
    </div>
    <section>
      <div>
        <button>
          <img src="../../../asset/icons/play.svg" style="width:30px; height:30px" alt="">
        </button>
      </div>
      <div></div>
    </section>
  </div>
  <div class="card-movie">2</div>
  <div class="card-movie">3</div>
</section>
<img src="../../../asset/icons/play.svg" style="width:30px; height:30px" alt="">
