<section class="layout">
  <div class="card-movie">
    <div class="content-img">
      <img class="img" src="https://www.justwatch.com/images/poster/320463441/s718/slow-horses.jpg" alt="Caballos lentos">
    </div>

      <div class="content-play">
        <a class="play" href="https://drive.google.com/file/d/1FCkWN2OdjctM653vIgamYxbTiKrKgJ9g/view?usp=drive_link" target="_blank">
          <span
            nz-icon nzType="play-circle"
            nzTheme="twotone"
            style="font-size: 40px;">
          </span>
        </a>
      </div>
      <section>
      <div>

      </div>
    </section>
  </div>
</section>
