.layout {
  width: 100%;
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

.card-movie {
  width: 250px;
  height: 340px;
  position: relative; /* Necesario para el pseudo-elemento */
  background: white; /* Color de fondo */
  border-radius: 8px; /* Bordes redondeados (opcional) */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra (opcional) */
}

.card-movie:hover {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); /* Sombra (opcional) */
}


.content-img {
  width: 240px;
  height: 270px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

img {
  width: 240px;
  height: 280px;
  border-radius: 5px;
}


.play {
  width: 40px;
  padding-top: 10px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.icon-play{
  width: 40px;
  height: 40px;
}
